{% extends 'base.html' %}

{% block content %}
    <h2>{{title}}</h2>
    {% if blogs|length == 0 %}
        <p>No blogs. Be the first one.</p>
    {% else %}
        <table>
            {% for blog in blogs %}
            <tr>
                <td><a href="/blog?id={{ blog.id }}"><b>{{ blog.title }}</b></a><br>
                {{blog.body}}<br>
                <p>written by <a href='/blog?user={{ blog.owner.id }}'>{{ blog.owner.username }}</a></p><hr></td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}        
{% endblock %}