{% extends 'base.html' %}

{% block content %}

<h2>Sign Up</h2>
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
    <ul class=flashes>
        {% for category,message in messages %}
            <li class="{{category}}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}

    <form action='/signup' method='post'>
        <label for='username'>Username:</label>
        <input type='text' name='username' /><br>
        <label for='password'>Password:</label>
        <input type='password' name='password' /><br>
        <label for='verify'>Re-enter Password:</label>
        <input type='password' name='verify' /><br>
        <input type='submit' value='Sign Up ' />
    </form>

{% endblock %}